-
  const contactsSectionContent = {
    titleMarkup: {en: 'How to find <b>us</b>', ru: 'Как найти <b>нас</b>'},
    text: {
      en: 'Get in touch to discuss your employee wellbeing needs today. Please give us a call, drop us an email or fill out the contact form and we’ll get back to you.',
      ru: 'Свяжитесь с нами, чтобы обсудить потребности ваших сотрудников в благополучии сегодня. Пожалуйста, позвоните нам, напишите нам по электронной почте или заполните контактную форму, и мы свяжемся с вами.',
    },
    contacts: {
      title: { en: 'Contact us', ru: 'Контакты' },
      address: { icon: 'pin', en: '27 Division St, NY 10002, USA', ru: '409597, Ростовская область, город Одинцово, наб. Бухарестская, 41' },
      phone: { icon: 'phone', values: ['+1 800 123 456 789']},
      email: { icon: 'at-the-rate', values: ['mail@mail.com']},
    },
    socials: {
      links: [
        {
          label: 'Twitter',
          href: 'https://twitter.com',
          icon: 'twitter',
        },
        {
          label: 'Facebook',
          href: 'https://www.facebook.com',
          icon: 'facebook',
        },
        {
          label: 'Linkedin',
          href: 'https://linkedin.com',
          icon: 'linkedin',
        },
        {
          label: 'Instagram',
          href: 'https://www.instagram.com/',
          icon: 'instagram',
        },
      ],
    },
  };

section.section.contacts-section.full-width
  .contacts-section__map
  .contacts-section__inner 
    .contacts-section__columns 
      .contacts-section__column
        h2.section__title.contacts-section__title!= contactsSectionContent.titleMarkup[lang]
        p.contacts-section__text= contactsSectionContent.text[lang]
        address.contacts-section__contacts 
          p
            +sprite(contactsSectionContent.contacts.address.icon)(width = 24, height = 24)
            span= contactsSectionContent.contacts.address[lang]
          p
            each phone in contactsSectionContent.contacts.phone.values
              +sprite(contactsSectionContent.contacts.phone.icon)(width = 24, height = 24)
              a(href= `tel:${phone.split(' ').join('')}`)= phone
          p
            each email in contactsSectionContent.contacts.email.values
              +sprite(contactsSectionContent.contacts.email.icon)(width = 24, height = 24)
              a(href= `mailto:${email}`)= email
        +socials(contactsSectionContent.socials.links)(class = 'contacts-section__socials', alternate)
      .contacts-section__column
        h3.contacts-section__column-title= contactsSectionContent.contacts.title[lang]
        +contacts-form()