mixin main-button(label)
  -
    const {alternate, bordered, responsive, slim, icon, iconOnly, iconWidth, iconHeight, iconFirst, href, type, ...props} = attributes;
    const classList = [
      alternate && 'main-button--alternate',
      bordered && 'main-button--bordered',
      responsive && 'main-button--responsive',
      iconOnly && 'main-button--icon-only',
      iconFirst && 'main-button--icon-first',
      slim && 'main-button--slim',
    ];
  if href
    a.link.button.main-button(href = href, class = attributes.class, class = classList)&attributes(props)
      span.main-button__label(class = iconOnly ? 'visually-hidden' : null)!= label
      if icon
        +sprite(icon)(class = 'main-button__icon', width = iconWidth, height = iconHeight)
  else
    button.button.main-button(class = attributes.class, class = classList, type = type || 'button')&attributes(props)
      span.main-button__label(class = iconOnly ? 'visually-hidden' : null)!= label
      if icon
        +sprite(icon)(class = 'main-button__icon', width = iconWidth, height = iconHeight)

mixin main-button-arrow(label)
  - const {responsive, ...props} = attributes;

  +main-button(label)&attributes(props)(icon = 'long-arrow', iconWidth = 36, iconHeight = 12, responsive = responsive)

mixin main-button-cart(label)
  +main-button(label)&attributes(attributes)(icon = 'cart', iconFirst, iconWidth = 24, iconHeight = 24)

mixin category-button(label)
  +main-button(label)&attributes(attributes)(alternate, slim)

mixin icon-button(label, icon)
  -
    const {size, rounded, bordered, alternate, outlined, href, iconWidth, iconHeight} = attributes;
    const sizes = {
      s: 'icon-button--s-size',
      m: 'icon-button--m-size',
      l: 'icon-button--l-size',
    };
    const classList = [
      size ? sizes[size]: null,
      rounded && 'icon-button--rounded',
      bordered && 'icon-button--bordered',
      alternate && 'icon-button--alternate',
      outlined &&  'icon-button--outlined',
    ];

  if href
    a.link.button.icon-button(href = href, class = attributes.class, class = classList)
      span.icon-button__label(class = 'visually-hidden')!= label
      +sprite(icon)(class = 'icon-button__icon', width = iconWidth, height = iconHeight)
  else
    button.button.icon-button(class = attributes.class, class = classList)
      span.icon-button__label(class = 'visually-hidden')!= label
      +sprite(icon)(class = 'icon-button__icon', width = iconWidth, height = iconHeight)

mixin socials-button(label, icon)
  -
    const {iconWidth = 24, iconHeight = 24, alternate, ...props} = attributes;
    const classList = [
      alternate && 'socials-button--alternate',
    ];
  
  a.link.button.socials-button(class = classList)&attributes(props)
    span.socials-button__label(class = 'visually-hidden')!= label
    +sprite(icon)(class = 'socials-button__icon', width = iconWidth, height = iconHeight)

mixin slim-button(label)
  - const {icon, href} = attributes;
  if href
    a.button.slim-button(class = attributes.class, href = href)
      span.slim-button__label!= label
      if icon
        +sprite(icon)(class = 'slim-button__icon')
      span.slim-button__decorative-background
  else  
    button.button.slim-button(class = attributes.class)
      span.slim-button__label!= label
      if icon
        +sprite(icon)(class = 'slim-button__icon')
      span.slim-button__decorative-background

mixin form-button(label)
  -
    const {outlined, filter, type, ...other} = attributes;
    const classList = [
      outlined && 'form-button--outlined',
      filter && 'form-button--filter',
    ];
  button.button.form-button(class = classList, type = attributes.type || 'button')&attributes(other)
    span.form-button__label!= label

mixin pagination-button(label)
  - const {outlined, icon, iconOnly, accent} = attributes;
  - const classList = [outlined && 'pagination-button--bordered', iconOnly && 'pagination-button--icon-only', accent && 'pagination-button--accent'];
  button.button.pagination-button(class = attributes.class, class = classList)
    span.pagination-button__label(class = iconOnly ? 'visually-hidden' : null)!= label
    if icon
      +sprite(icon)(class = 'pagination-button__icon')