mixin ratingInput(componentName, iconName = 'star', maxPoints = 5)
  - const elements =  new Array(maxPoints).fill(null).map((item, index) => index + 1).reverse();

  span.rating&attributes(attributes) 
    each element in elements
      input.rating__input(type='radio' name=componentName id=`${componentName}-point-${element}` value=element.toString())
      label.rating__label(for=`${componentName}-point-${element}`)
        span.visually-hidden= `${element} point${element > 1 ? 's' : ''}`
        +sprite(iconName, 'rating__icon')

mixin ratingOutput(points, iconName = 'star', maxPoints = 5)
  - const elements =  new Array(maxPoints).fill(null).map((item, index) => index + 1).reverse();

  span.rating.rating--output&attributes(attributes) 
    span.rating__label.visually-hidden= `${points} point${points > 1 ? 's' : ''}`
    each element, index in elements
      +sprite(iconName, `rating__icon`)(class= element <= points ? `rating__icon--filled` : false)