-
  const pageFooterContent = {
    contacts: {
      title: { en: 'Contact us', ru: 'Контакты' },
      address: { icon: 'pin', en: '27 Division St, NY 10002, USA', ru: '409597, Ростовская область, город Одинцово, наб. Бухарестская, 41' },
      phone: { icon: 'phone', values: ['+1 800 123 456 789']},
      email: { icon: 'at-the-rate', values: ['mail@mail.com']},
    },
    schedule: {
      title: { en: 'Working hours', ru: 'Режим работы' },
      table: {
        en: [
          ['Days', 'Hours'],
          ['Mon-Fri', '7.00am – 6.00pm'],
          ['Sat', '7.00am – 6.00pm'],
          ['Sun', '8.00am – 6.00pm'],
        ],
        ru: [
          ['Дни', 'Часы'],
          ['Пн-Пт', '7:00 – 18:00'],
          ['Сб', '7:00 – 18:00'],
          ['Вс', '8:00 – 18:00'],
        ],
      },
    },
    other: {
      title: { en: 'Advertising offer', ru: 'Рекламное предложение' },
      text: {
        en: 'Cleanse, moisturize and soothe your skin with all natural handmade soap made with organic oils and plant butters, pure essential oils, organic herbs, and spices.',
        ru: 'Очистите, увлажните и успокойте кожу с помощью натурального мыла ручной работы, изготовленного из органических и растительных масел, чистых эфирных масел, органических трав и специй.',
      },
      socials: {
        links: [
          {
            label: 'Twitter',
            href: 'https://twitter.com',
            icon: 'twitter',
          },
          {
            label: 'Facebook',
            href: 'https://www.facebook.com',
            icon: 'facebook',
          },
          {
            label: 'Linkedin',
            href: 'https://linkedin.com',
            icon: 'linkedin',
          },
          {
            label: 'Instagram',
            href: 'https://www.instagram.com/',
            icon: 'instagram',
          },
        ],
      },
    },
    copyright: {
      en: 'The design of the site is based on the work of <a href= "https://themeforest.net/user/webgeniuslab/portfolio">WebGeniusLab</a>. Reproduced for HTML code demonstration.',
      ru: 'Дизайн сайта основан на работе <a href= "https://themeforest.net/user/webgeniuslab/portfolio">WebGeniusLab</a>. Использован для демонстрации HTML-кода',
    },
  };

footer.page-footer.content-grid
  .page-footer__columns 
    .page-footer__column 
      h2.page-footer__column-title= pageFooterContent.contacts.title[lang]
      address.page-footer__contacts 
        p
          +sprite(pageFooterContent.contacts.address.icon)(width = 24, height = 24)
          span= pageFooterContent.contacts.address[lang]
        p
          each phone in pageFooterContent.contacts.phone.values
            +sprite(pageFooterContent.contacts.phone.icon)(width = 24, height = 24)
            a(href= `tel:${phone.split(' ').join('')}`)= phone
        p
          each email in pageFooterContent.contacts.email.values
            +sprite(pageFooterContent.contacts.email.icon)(width = 24, height = 24)
            a(href= `mailto:${email}`)= email
    .page-footer__column.page-footer__other-info
      h2.page-footer__column-title= pageFooterContent.other.title[lang]
      p= pageFooterContent.other.text[lang]
      +socials(pageFooterContent.other.socials.links)(class = 'page-footer__socials')
      +logo()(colored, centered, class = 'page-footer__logo')
    .page-footer__column 
      h2.page-footer__column-title= pageFooterContent.schedule.title[lang]
      +table(pageFooterContent.schedule.table[lang])(class = 'page-footer__table')
  p.page-footer__copyright!= pageFooterContent.copyright[lang]
