-
  const testimonialsContent = {
    title: {en: 'Testimonials', ru: 'Отзывы'},
  }
  const testimonialsList = [
    {
      author: {
        name: {en: 'Karolina May', ru: 'Ефимова Кира'} ,
        role: {en: 'Client of store', ru: 'Клиент'} ,
        avatar: '@image/content/testimonials-1.jpg',
      },
      quote: {
        en: 'Just want to say thank you for your wonderful product …and I just love everything about it. The soap, the scents, your label, everything!',
        ru: 'Просто хочу сказать спасибо за ваш замечательный продукт… и мне в нем нравится все. Мыло, ароматы, ваш лейбл — все!',
      },
    },
    {
      author: {
        name: {en: 'Lina Grey', ru: 'Семенова Валентина'} ,
        role: {en: 'Client of store', ru: 'Клиент'} ,
        avatar: '@image/content/testimonials-2.jpg',
      },
      quote: {
        en: 'Just want to say thank you for your wonderful product …and I just love everything about it. The soap, the scents, your label, everything!',
        ru: 'Просто хочу сказать спасибо за ваш замечательный продукт… и мне в нем нравится все. Мыло, ароматы, ваш лейбл — все!',
      },
    },
    {
      author: {
        name: {en: 'Jannet Taylor', ru: 'Сорокина Александра'} ,
        role: {en: 'Co-founder of company', ru: 'Соучередитель'} ,
        avatar: '@image/content/testimonials-3.jpg',
      },
      quote: {
        en: 'Just want to say thank you for your wonderful product …and I just love everything about it. The soap, the scents, your label, everything!',
        ru: 'Просто хочу сказать спасибо за ваш замечательный продукт… и мне в нем нравится все. Мыло, ароматы, ваш лейбл — все!',
      },
    },
  ];

mixin testimonials(backgroundImageSet)
  - const srcsetString = backgroundImageSet.map((value) => `${require(value.path)} ${value.wDescriptor}w`).join(', ');
  .testimonials
    .testimonials__decorative-image-column.lazyload(data-bgset = srcsetString, data-sizes = 'auto')
    .testimonials__quotes-column
      .swiper.testimonials__slider
        +sprite('background-flower-1')(class = 'testimonials__decor-bg-image' width = 250, height = 300)
        ul.testimonials__list.swiper-wrapper
          each item in testimonialsList
            li.testimonials__list-item.swiper-slide
              figure.testimonials__testimonial-card
                figcaption.testimonials__testimonial-card-author 
                  p.testimonials__testimonial-card-author-name= item.author.name[lang]
                  p.testimonials__testimonial-card-author-role= item.author.role[lang]
                  img.testimonials__testimonial-card-author-avatar(loading = 'lazy', src = item.author.avatar, alt = 'person')
                blockquote.testimonials__testimonial-card-text
                  +sprite('quotes')(class = 'testimonials__quotes-icon', width = 78, height = 64)
                  p= item.quote[lang]
        .swiper-pagination.testimonials__slider-pagination

mixin testimonials-section(backgroundImageSet)
  section.section.testimonials-section.full-width.content-grid-cancel
    h2.section__title.visually-hidden= testimonialsContent.title[lang]
    +testimonials(backgroundImageSet)