-
  const soapQualitiesContent = {
    title: {
      en: `We create incredible<br>soap that make you feel <b>amazing</b>`,
      ru: 'Мы создаем невероятные<br>мыло, которое заставит вас чувствовать себя <b>потрясающе</b>',
    },
    qualities: [
      {
        title: {en: 'Natural ingredients', ru: 'Натуральные ингридиенты'},
        description: {
          en: 'All products are made exclusively by hand, which makes it unique and allows us to convey.',
          ru: 'Вся продукция изготавливается исключительно вручную, что делает ее уникальной и позволяет передать.'
        },
      },
      {
        title: {en: 'Only handmade', ru: 'Только ручная работа'},
        description: {
          en: 'Qualitative composition plays a big role. When I learned what soy wax is and how it differs from paraffin.',
          ru: 'Качественный состав играет большую роль. Когда я узнал, что такое соевый воск и чем он отличается от парафина.'
        },
      },
      {
        title: {en: 'Unique technology', ru: 'Уникальная технология'},
        description: {
          en: 'We offer you stylish and cozy aroma candles and sachets, absolutely safe for you and the environment.',
          ru: 'Мы предлагаем вам стильные и уютные аромасвечи и саше, абсолютно безопасные для вас и окружающей среды.'
        },
      },
      {
        title: {en: 'Paraffin free', ru: 'Без парафина'},
        description: {
          en: 'Paraffin is a product of oil refining and when burned emits benzene and toluene - toxic.',
          ru: 'Парафин является продуктом переработки нефти и при сжигании выделяет бензол, а толуол – токсичный.'
        },
      },
    ],
    qualitiesDecorImage: [
      {path: '@image/common/services-soap-bg-560px.jpg', wDescriptor: 560},
      {path: '@image/common/services-soap-bg-340px.jpg', wDescriptor: 340},
    ],
    divider: {
      text: {en: 'handmade', ru: 'Ручная работа'},
      gap: {en: '•', ru: '•'},
    }
  };

  const soapQualitiesContentQualitiesDecorImage = soapQualitiesContent.qualitiesDecorImage.map((value) => `${require(value.path)} ${value.wDescriptor}w`).join(', ');

section.section.promo-section-soap-qualities.full-width
  .promo-section-soap-qualities__title-wrapper
    +sprite('background-flower-1')(class = 'promo-section-soap-qualities__title-decor-image')
    h2.section__title!= soapQualitiesContent.title[lang]
  ul.promo-section-soap-qualities__list 
    each quality, index in soapQualitiesContent.qualities
      if index === 2
        li.promo-section-soap-qualities__item.promo-section-soap-qualities__item--decor
          .promo-section-soap-qualities__decor-image.lazyload(data-bgset = soapQualitiesContentQualitiesDecorImage, data-sizes = 'auto')
      li.promo-section-soap-qualities__item 
        - const isOpposite = (index + 1) % 2 === 0;
        p.list-item-badge(class = isOpposite ? 'list-item-badge--alternate' : undefined)= (index + 1).toString().padStart(2, '0')
        h3.promo-section-soap-qualities__item-title= quality.title[lang]
        p.promo-section-soap-qualities__item-desc= quality.description[lang]
  +text-divider(soapQualitiesContent.divider.text[lang], soapQualitiesContent.divider.gap[lang])(outlined)