include ./blog-articles-data.pug

-
  const blogWidgetContent = {
    title: {
      en: 'Stay informed on our latest <b>news</b>',
      ru: 'Будь в курсе наших последних <b>новостей</b>',
    },
    headerButton: {
      name: { en: 'View more', ru: 'Смотреть&nbsp;ещё'},
      href: './error.html',
    },
    articleButton: {
      name: { en: 'Read more', ru: 'Читать дальше'},
      href: './error.html',
    },
    dividerText: {
      main: {en: 'essential oils', ru: 'эфирные масла'},
      gap: {en: '•', ru: '•'},
    },
  };

section.section.blog-widget-section.full-width
  - const displayedElementsCount = 3;

  header.blog-widget-section__headline
    h2.section__title.blog-widget-section__title!= blogWidgetContent.title[lang]
    +main-button-arrow(blogWidgetContent.headerButton.name[lang])(href = blogWidgetContent.headerButton.href, class = 'blog-widget-section__button')
  ul.blog-widget-section__article-list
    each article in blogArticleList.slice(0, displayedElementsCount).sort((articleA, articleB) => articleA.date - articleB.date)
      - const srcsetString = article.image.map((value) => `${require(value.path)} ${value.wDescriptor}w`).join(', ');
      li.blog-widget-section__article
        article.blog-article 
          .blog-article__image.lazyload(data-bgset = srcsetString, data-sizes = 'auto')
            a.blog-article__link(href = article.href)
              span.visually-hidden= article.title[lang]
            +category-button(article.category.name[lang])(class = 'blog-article__tag')
          .blog-article__text-content
            a(href = article.href)
              h3.blog-article__title= article.title[lang]
            p.blog-article__info
              time.blog-article__date(datetime = article.date.toISOString())= article.date.toLocaleDateString(...dateFormat[lang])
              span.blog-article__author= article.author[lang]
            +slim-button(blogWidgetContent.articleButton.name[lang])(href = blogWidgetContent.articleButton.href, class = 'blog-article__button', icon = 'long-arrow')
  +text-divider(blogWidgetContent.dividerText.main[lang], blogWidgetContent.dividerText.gap[lang])(outlined, class = 'blog-widget-section__divider')
